In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Financial Statement documents:

## Income Statement:

In [2]:
income_statement= pd.read_excel(r'Finanacial Statement(LBV).xlsx',sheet_name='Income Statement')
income_statement=income_statement.iloc[2:,1:-1].reset_index(drop=True)

#Rename columns:
income_statement.columns=income_statement.columns.str.replace('FY','',regex=False)
income_statement.head()

                Fiscal Year   2024    2023    2022   2021   2020
0                   Revenue  16418   15800   13947  11758  11012
1      Revenue Growth (YoY)  3.91%  13.29%  18.61%  6.77%  5.93%
2           Cost of Revenue  13376   13025   11438   9621   9079
3              Gross Profit   3042    2775    2509   2137   1934
4  Selling, General & Admin   1775    1557    1390   1167   1049

## Balance sheet:

In [3]:
balance_sheet=pd.read_excel(r'Finanacial Statement(LBV).xlsx',sheet_name='Balance Sheet')
balance_sheet=balance_sheet.iloc[2:,1:-1].reset_index(drop=True)

# Rename columns
balance_sheet.columns=balance_sheet.columns.str.replace('FY','',regex=False)
balance_sheet.head()

                     Fiscal Year    2024    2023    2022     2021    2020
0             Cash & Equivalents    2075    1266  765.31   718.39  801.08
1         Short-Term Investments  175.52     178  236.85   218.57  284.17
2  Cash & Short-Term Investments    2251    1444    1002   936.95    1085
3                    Cash Growth  55.90%  44.06%   6.96%  -13.66%  85.17%
4            Accounts Receivable    1127  889.97  933.21   791.65   969.2

## Cash Flow:

In [4]:
cash_flow=pd.read_excel(r'Finanacial Statement(LBV).xlsx',sheet_name='Cash Flow')
cash_flow=cash_flow.iloc[2:,1:-1].reset_index(drop=True)

# Rename columns:
cash_flow.columns=cash_flow.columns.str.replace('FY','',regex=False)
cash_flow.head()

                     Fiscal Year     2024     2023     2022    2021     2020
0                     Net Income    541.7   507.67   748.35  407.24   330.29
1    Depreciation & Amortization    39771   531.46        -       -        -
2     Other Operating Activities   -39263   -23.41   185.49  421.99    382.8
3  Change in Accounts Receivable   -237.5   -67.55  -225.15  191.39  -294.71
4            Change in Inventory  -732.97  -281.69  -493.36  -218.7  -125.04

## Ratios:

In [5]:
ratios=pd.read_excel(r'Finanacial Statement(LBV).xlsx',sheet_name='Ratios')
ratios=ratios.iloc[2:,1:-1].reset_index(drop=True)
# Drop Current column:
ratios=ratios.drop(columns='Current')

# Rename columns:
ratios.columns=ratios.columns.str.replace('FY','',regex=False)
ratios.head()

             Fiscal Year     2024     2023     2022     2021     2020
0  Market Capitalization    12155    12155    13457    14053     9085
1      Market Cap Growth        -   -9.68%   -4.24%   54.69%   19.27%
2       Enterprise Value    15965    15528    16482    16337    11738
3       Last Close Price  4200.00  4107.65  4462.35  4602.47  2931.63
4               PE Ratio    22.44    23.94    17.98    34.51    27.51

# Transpose data:

### Balance sheet Transpose :

In [6]:
# Transpose data:
bs_trsp=balance_sheet.transpose().reset_index(drop=False)

# set first row as columns head:
bs_trsp.columns=bs_trsp.iloc[0]

# drop First row:
bs_trsp=bs_trsp.drop(0)
bs_trsp

,Fiscal Year,Cash & Equivalents,Short-Term Investments,Cash & Short-Term Investments,Cash Growth,Accounts Receivable,Other Receivables,Receivables,Inventory,Other Current Assets,...,Filing Date Shares Outstanding,Total Common Shares Outstanding,Working Capital,Book Value Per Share,Tangible Book Value,Tangible Book Value Per Share,Land,Buildings,Machinery,Construction In Progress
1,2024,2075,175.52,2251,55.90%,1127,1033,2160,3468,0.35,...,2.89,2.89,1784,1178.19,1477,510.40,449.42,903.09,3232,630.61
2,2023,1266,178,1444,44.06%,889.97,1030,1920,2735,0.37,...,2.89,2.89,-13.26,1087.74,1539,531.89,475.33,804.38,2842,552.95
3,2022,765.31,236.85,1002,6.96%,933.21,860.19,1793,2453,0.96,...,2.84,2.84,258.62,1015.93,1488,524.15,480.67,743.07,2561,329.42
4,2021,718.39,218.57,936.95,-13.66%,791.65,795.72,1587,1960,0.12,...,2.84,2.84,257.63,841.03,1225,431.59,922.21,1189,2291,294.25
5,2020,801.08,284.17,1085,85.17%,969.2,743.96,1713,1741,0.12,...,2.84,2.84,528.91,764.21,1108,390.19,456.94,1026,1866,174.84

In [7]:
# convert first column to date type:
bs_trsp['Fiscal Year']=pd.to_datetime(bs_trsp['Fiscal Year'],errors='coerce')
#Change '2024-01-01' to  '2024-12-31':
bs_trsp['Fiscal Year']=bs_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
# re-convert to date type:
bs_trsp['Fiscal Year']=pd.to_datetime(bs_trsp['Fiscal Year'],errors='coerce')
bs_trsp

,Fiscal Year,Cash & Equivalents,Short-Term Investments,Cash & Short-Term Investments,Cash Growth,Accounts Receivable,Other Receivables,Receivables,Inventory,Other Current Assets,...,Filing Date Shares Outstanding,Total Common Shares Outstanding,Working Capital,Book Value Per Share,Tangible Book Value,Tangible Book Value Per Share,Land,Buildings,Machinery,Construction In Progress
1,2024-12-31,2075,175.52,2251,55.90%,1127,1033,2160,3468,0.35,...,2.89,2.89,1784,1178.19,1477,510.40,449.42,903.09,3232,630.61
2,2023-12-31,1266,178,1444,44.06%,889.97,1030,1920,2735,0.37,...,2.89,2.89,-13.26,1087.74,1539,531.89,475.33,804.38,2842,552.95
3,2022-12-31,765.31,236.85,1002,6.96%,933.21,860.19,1793,2453,0.96,...,2.84,2.84,258.62,1015.93,1488,524.15,480.67,743.07,2561,329.42
4,2021-12-31,718.39,218.57,936.95,-13.66%,791.65,795.72,1587,1960,0.12,...,2.84,2.84,257.63,841.03,1225,431.59,922.21,1189,2291,294.25
5,2020-12-31,801.08,284.17,1085,85.17%,969.2,743.96,1713,1741,0.12,...,2.84,2.84,528.91,764.21,1108,390.19,456.94,1026,1866,174.84

### Income statement data Transpose:

In [8]:
# Income Statement:
is_trsp=income_statement.transpose().reset_index(drop=False)
# Set first row as column header:
is_trsp.columns=is_trsp.iloc[0]
# delete the first row:
is_trsp=is_trsp.drop(0)
is_trsp

,Fiscal Year,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Other Operating Expenses,Operating Expenses,Operating Income,Interest Expense,...,Operating Margin,Profit Margin,Free Cash Flow Margin,EBITDA,EBITDA Margin,D&A For EBITDA,EBIT,EBIT Margin,Effective Tax Rate,Revenue as Reported
1,2024,16418,3.91%,13376,3042,1775,463.01,2238,803.6,-227.64,...,4.90%,3.30%,-4.45%,40574,247.13%,39771,803.6,4.90%,31.74%,16680
2,2023,15800,13.29%,13025,2775,1557,423.95,1981,794.36,-200.1,...,5.03%,3.21%,-1.97%,1326,8.39%,531.46,794.36,5.03%,29.84%,15999
3,2022,13947,18.61%,11438,2509,1390,367.18,1757,751.84,-130.21,...,5.39%,5.37%,-1.83%,1213,8.70%,461.23,751.84,5.39%,21.04%,14122
4,2021,11758,6.77%,9621,2137,1167,339.88,1506,630.76,-136.62,...,5.36%,3.46%,-1.75%,1038,8.82%,406.74,630.76,5.36%,28.39%,11901
5,2020,11012,5.93%,9079,1934,1049,343.85,1393,540.58,-129.7,...,4.91%,3.00%,-3.15%,907.07,8.24%,366.5,540.58,4.91%,25.04%,11107

In [9]:
# convert first columns to date type:
is_trsp['Fiscal Year']=pd.to_datetime(is_trsp['Fiscal Year'],errors='coerce')
#Change '2024-01-01' to  '2024-12-31':
is_trsp['Fiscal Year']=is_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
# re-convert to data type:
is_trsp['Fiscal Year']=pd.to_datetime(is_trsp['Fiscal Year'],errors='coerce')
is_trsp

,Fiscal Year,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Other Operating Expenses,Operating Expenses,Operating Income,Interest Expense,...,Operating Margin,Profit Margin,Free Cash Flow Margin,EBITDA,EBITDA Margin,D&A For EBITDA,EBIT,EBIT Margin,Effective Tax Rate,Revenue as Reported
1,2024-12-31,16418,3.91%,13376,3042,1775,463.01,2238,803.6,-227.64,...,4.90%,3.30%,-4.45%,40574,247.13%,39771,803.6,4.90%,31.74%,16680
2,2023-12-31,15800,13.29%,13025,2775,1557,423.95,1981,794.36,-200.1,...,5.03%,3.21%,-1.97%,1326,8.39%,531.46,794.36,5.03%,29.84%,15999
3,2022-12-31,13947,18.61%,11438,2509,1390,367.18,1757,751.84,-130.21,...,5.39%,5.37%,-1.83%,1213,8.70%,461.23,751.84,5.39%,21.04%,14122
4,2021-12-31,11758,6.77%,9621,2137,1167,339.88,1506,630.76,-136.62,...,5.36%,3.46%,-1.75%,1038,8.82%,406.74,630.76,5.36%,28.39%,11901
5,2020-12-31,11012,5.93%,9079,1934,1049,343.85,1393,540.58,-129.7,...,4.91%,3.00%,-3.15%,907.07,8.24%,366.5,540.58,4.91%,25.04%,11107

### cash flow Transpose:

In [10]:
# Transpose cash flow data:
cf_trsp=cash_flow.transpose().reset_index(drop=False)
cf_trsp.columns=cf_trsp.iloc[0]
cf_trsp=cf_trsp.drop(0)
cf_trsp

,Fiscal Year,Net Income,Depreciation & Amortization,Other Operating Activities,Change in Accounts Receivable,Change in Inventory,Change in Other Net Operating Assets,Operating Cash Flow,Operating Cash Flow Growth,Capital Expenditures,...,Financing Cash Flow,Net Cash Flow,Free Cash Flow,Free Cash Flow Margin,Free Cash Flow Per Share,Cash Interest Paid,Cash Income Tax Paid,Levered Free Cash Flow,Unlevered Free Cash Flow,Change in Net Working Capital
1,2024,541.7,39771,-39263,-237.5,-732.97,666.44,744.89,-17.27%,-1476,...,599.27,549.54,-730.69,-4.45%,-252.49,-,260.02,38260,38403,394.65
2,2023,507.67,531.46,-23.41,-67.55,-281.69,233.93,900.42,1.31%,-1212,...,776.59,460.4,-311.2,-1.97%,-110.95,200.1,222.82,-490.48,-365.42,181.74
3,2022,748.35,-,185.49,-225.15,-493.36,673.46,888.8,-27.50%,-1145,...,85.44,-53.08,-255.82,-1.83%,-90.06,130.21,203.14,-791.88,-710.5,35.79
4,2021,407.24,-,421.99,191.39,-218.7,424.07,1226,302.53%,-1431,...,325.31,117.31,-205.43,-1.75%,-74.13,136.62,165.41,-799.61,-714.22,-322.98
5,2020,330.29,-,382.8,-294.71,-125.04,11.23,304.57,-58.55%,-651.68,...,182.37,136.28,-347.11,-3.15%,-125.00,129.7,112.8,-542.32,-461.26,147.44

In [11]:
# Convert first colummn data type:
cf_trsp['Fiscal Year']=pd.to_datetime(cf_trsp['Fiscal Year'],errors='coerce')
cf_trsp['Fiscal Year']=cf_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
cf_trsp['Fiscal Year']=pd.to_datetime(cf_trsp['Fiscal Year'],errors='coerce')
cf_trsp

,Fiscal Year,Net Income,Depreciation & Amortization,Other Operating Activities,Change in Accounts Receivable,Change in Inventory,Change in Other Net Operating Assets,Operating Cash Flow,Operating Cash Flow Growth,Capital Expenditures,...,Financing Cash Flow,Net Cash Flow,Free Cash Flow,Free Cash Flow Margin,Free Cash Flow Per Share,Cash Interest Paid,Cash Income Tax Paid,Levered Free Cash Flow,Unlevered Free Cash Flow,Change in Net Working Capital
1,2024-12-31,541.7,39771,-39263,-237.5,-732.97,666.44,744.89,-17.27%,-1476,...,599.27,549.54,-730.69,-4.45%,-252.49,-,260.02,38260,38403,394.65
2,2023-12-31,507.67,531.46,-23.41,-67.55,-281.69,233.93,900.42,1.31%,-1212,...,776.59,460.4,-311.2,-1.97%,-110.95,200.1,222.82,-490.48,-365.42,181.74
3,2022-12-31,748.35,-,185.49,-225.15,-493.36,673.46,888.8,-27.50%,-1145,...,85.44,-53.08,-255.82,-1.83%,-90.06,130.21,203.14,-791.88,-710.5,35.79
4,2021-12-31,407.24,-,421.99,191.39,-218.7,424.07,1226,302.53%,-1431,...,325.31,117.31,-205.43,-1.75%,-74.13,136.62,165.41,-799.61,-714.22,-322.98
5,2020-12-31,330.29,-,382.8,-294.71,-125.04,11.23,304.57,-58.55%,-651.68,...,182.37,136.28,-347.11,-3.15%,-125.00,129.7,112.8,-542.32,-461.26,147.44

### Transpose Ratios data:

In [12]:
rat_trsp=ratios.transpose().reset_index(drop=False)
rat_trsp.columns=rat_trsp.iloc[0]
rat_trsp=rat_trsp.drop(0)
rat_trsp

,Fiscal Year,Market Capitalization,Market Cap Growth,Enterprise Value,Last Close Price,PE Ratio,Forward PE,PS Ratio,PB Ratio,P/TBV Ratio,...,Return on Equity (ROE),Return on Assets (ROA),Return on Capital (ROIC),Return on Capital Employed (ROCE),Earnings Yield,FCF Yield,Dividend Yield,Payout Ratio,Buyback Yield / Dilution,Total Shareholder Return
1,2024,12155,-,15965,4200.00,22.44,18.96,0.74,3.47,8.23,...,16.64%,3.49%,5.57%,8.60%,4.46%,-6.01%,-,51.69%,-3.18%,-3.18%
2,2023,12155,-9.68%,15528,4107.65,23.94,17.13,0.77,3.78,7.90,...,17.01%,3.95%,6.50%,10.90%,4.18%,-2.56%,2.35%,49.24%,1.26%,3.62%
3,2022,13457,-4.24%,16482,4462.35,17.98,20.84,0.97,4.58,9.04,...,28.40%,4.27%,7.21%,11.00%,5.56%,-1.90%,1.94%,53.45%,-2.50%,-0.57%
4,2021,14053,54.69%,16337,4602.47,34.51,32.05,1.20,5.78,11.47,...,18.05%,4.06%,6.81%,10.50%,2.90%,-1.46%,1.53%,41.74%,0.21%,1.74%
5,2020,9085,19.27%,11738,2931.63,27.51,23.49,0.83,4.14,8.20,...,16.04%,3.79%,6.49%,10.30%,3.64%,-3.82%,2.04%,48.44%,0.31%,2.35%

In [13]:
# convert first column data type:
rat_trsp['Fiscal Year']=pd.to_datetime(rat_trsp['Fiscal Year'],errors='coerce')
rat_trsp['Fiscal Year']=rat_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
rat_trsp['Fiscal Year']=pd.to_datetime(rat_trsp['Fiscal Year'],errors='coerce')
rat_trsp

,Fiscal Year,Market Capitalization,Market Cap Growth,Enterprise Value,Last Close Price,PE Ratio,Forward PE,PS Ratio,PB Ratio,P/TBV Ratio,...,Return on Equity (ROE),Return on Assets (ROA),Return on Capital (ROIC),Return on Capital Employed (ROCE),Earnings Yield,FCF Yield,Dividend Yield,Payout Ratio,Buyback Yield / Dilution,Total Shareholder Return
1,2024-12-31,12155,-,15965,4200.00,22.44,18.96,0.74,3.47,8.23,...,16.64%,3.49%,5.57%,8.60%,4.46%,-6.01%,-,51.69%,-3.18%,-3.18%
2,2023-12-31,12155,-9.68%,15528,4107.65,23.94,17.13,0.77,3.78,7.90,...,17.01%,3.95%,6.50%,10.90%,4.18%,-2.56%,2.35%,49.24%,1.26%,3.62%
3,2022-12-31,13457,-4.24%,16482,4462.35,17.98,20.84,0.97,4.58,9.04,...,28.40%,4.27%,7.21%,11.00%,5.56%,-1.90%,1.94%,53.45%,-2.50%,-0.57%
4,2021-12-31,14053,54.69%,16337,4602.47,34.51,32.05,1.20,5.78,11.47,...,18.05%,4.06%,6.81%,10.50%,2.90%,-1.46%,1.53%,41.74%,0.21%,1.74%
5,2020-12-31,9085,19.27%,11738,2931.63,27.51,23.49,0.83,4.14,8.20,...,16.04%,3.79%,6.49%,10.30%,3.64%,-3.82%,2.04%,48.44%,0.31%,2.35%

# Preproccessing:

In [40]:
# Create new variables:
##overview:
revenue=is_trsp['Revenue'].str.replace(',','').astype(float)
cogs=is_trsp['Cost of Revenue'].str.replace(',','').astype(float)
gross_profit=is_trsp['Gross Profit'].str.replace(',','').astype(float)
ebitda=is_trsp['EBITDA'].str.replace(',','').astype(float)
ebit=is_trsp['Operating Income'].str.replace(',','').astype(float)
ebt=is_trsp['Pretax Income'].str.replace(',','') .astype(float)
net_income=is_trsp['Net Income'].str.replace(',','').astype(float)
net_income_growth=is_trsp['Net Income Growth'].str.replace(',','').str.replace('%','').astype(float) / 100
earning_per_share=is_trsp['EPS (Basic)'].str.replace(',','').astype(float)
free_cash_flow=is_trsp['Free Cash Flow'].str.replace(',','').astype(float)
total_assets=bs_trsp['Total Assets'].str.replace(',','').astype(float)
total_liabilities=bs_trsp['Total Liabilities'].str.replace(',','').astype(float)
total_equity=bs_trsp['Shareholders\' Equity'].str.replace(',','').astype(float)
operating_cash_flow=cf_trsp['Operating Cash Flow'].str.replace(',','').astype(float)
investing_cash_flow=cf_trsp['Investing Cash Flow'].str.replace(',','').astype(float)
financing_cash_flow=cf_trsp['Financing Cash Flow'].str.replace(',','').astype(float)
net_cash_flow=cf_trsp['Net Cash Flow'].str.replace(',','').astype(float)
## activity ratios:
receivable=bs_trsp['Receivables'].str.replace(',','').astype(float)
begining_receivable= receivable.shift(-1,fill_value=np.mean(receivable))
average_receivable=(receivable+begining_receivable)/2
inventory=bs_trsp['Inventory'].str.replace(',','').astype(float)
begining_inventory=inventory.shift(-1,fill_value=np.mean(inventory))
average_inventory=(inventory+begining_inventory)/2
payable=bs_trsp['Accounts Payable'].str.replace(',','').astype(float)
begining_payable=payable.shift(-1,fill_value=np.mean(payable))
average_payable=(payable+begining_payable)/2
current_assets=bs_trsp['Total Current Assets'].str.replace(',','').astype(float)
current_liabilities=bs_trsp['Total Current Liabilities'].str.replace(',','').astype(float)
working_capital=current_assets-current_liabilities
begining_working_capital=working_capital.shift(-1,fill_value= np.mean(working_capital))
average_working_capital=(working_capital+begining_working_capital)/2
begining_equity=total_equity.shift(-1,fill_value=np.mean(total_equity))
average_equity=(total_equity+begining_equity)/2
## liquidity ratios :
cash_equivalent=bs_trsp['Cash & Equivalents'].str.replace(',','').astype(float)
## solvency ratios:
total_debt=bs_trsp['Total Debt'].str.replace(',','').astype(float)
begining_total_assets=total_assets.shift(-1,fill_value=np.mean(total_assets))
average_total_assets=(total_assets+begining_total_assets)/2
begining_total_liabilities=total_liabilities.shift(-1,fill_value=np.mean(total_liabilities))
average_total_liabilities=(total_liabilities+begining_total_liabilities)/2
interest_expenses=is_trsp['Interest Expense'].str.replace(',','').astype(float).abs()
## profitability:
return_on_equity_roe=rat_trsp['Return on Equity (ROE)'].str.replace(',','').str.replace('%','',regex=False).astype(float) /100
return_on_assets_roa=rat_trsp['Return on Assets (ROA)'].str.replace(',','').str.replace('%','',regex=False).astype(float)/100
return_on_invested_capital_roic=rat_trsp['Return on Capital (ROIC)'].str.replace(',','').str.replace('%','',regex=False).astype(float)/100
## valuation:
pe_ratio=rat_trsp['PE Ratio'].str.replace(',','').astype(float)
ps_ratio=rat_trsp['PS Ratio'].str.replace(',','').astype(float)
pb_ratio=rat_trsp['PB Ratio'].str.replace(',','').astype(float)
ev_ebitda=rat_trsp['EV/EBITDA Ratio'].str.replace(',','').astype(float)
ev_ebit=rat_trsp['EV/EBIT Ratio'].str.replace(',','').astype(float)
dividend_yield=rat_trsp['Dividend Yield'].str.replace(',','').str.replace('%','',regex=False).replace('-',np.nan).astype(float)/100

## Overview :

In [15]:
overview=is_trsp[['Fiscal Year']].copy()
overview['Revenue']=revenue
overview['COGS']=cogs
overview['Gross Profit']=gross_profit
overview['EBITDA']=ebitda
overview['EBIT']=ebit
overview['EBT']=ebt
overview['Net Income']=net_income
overview['Net Income Growth']=net_income_growth
overview['EPS']=earning_per_share
overview['Net Cash Flow']=net_cash_flow
overview['Free Cash Flow']=free_cash_flow
overview['Total Assets']=total_assets
overview['Total Liabilities']=total_liabilities
overview['Total Equity']=total_equity
overview['Operating Cash Flow']=operating_cash_flow
overview['Investing Cash Flow']=investing_cash_flow
overview['Financing Cash Flow']=financing_cash_flow
overview

,Fiscal Year,Revenue,COGS,Gross Profit,EBITDA,EBIT,EBT,Net Income,Net Income Growth,EPS,Net Cash Flow,Free Cash Flow,Total Assets,Total Liabilities,Total Equity,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow
1,2024-12-31,16418.0,13376.0,3042.0,40574.00,803.60,819.13,541.70,0.0670,187.18,549.54,-730.69,15448.0,11947.0,3501.0,744.89,-794.63,599.27
2,2023-12-31,15800.0,13025.0,2775.0,1326.00,794.36,746.62,507.67,-0.3216,181.00,460.40,-311.20,13367.0,10147.0,3220.0,900.42,-1217.00,776.59
3,2022-12-31,13947.0,11438.0,2509.0,1213.00,751.84,965.51,748.35,0.8376,263.44,-53.08,-255.82,11797.0,8857.0,2940.0,888.80,-1027.00,85.44
4,2021-12-31,11758.0,9621.0,2137.0,1038.00,630.76,582.59,407.24,0.2330,146.95,117.31,-205.43,10207.0,7778.0,2430.0,1226.00,-1434.00,325.31
5,2020-12-31,11012.0,9079.0,1934.0,907.07,540.58,450.48,330.29,0.0585,118.94,136.28,-347.11,9236.0,7042.0,2194.0,304.57,-350.66,182.37

## Activity Ratios :

In [16]:
activ_ratios=is_trsp[['Fiscal Year']].copy()
activ_ratios['Receivables']=receivable
activ_ratios['Inventory']=inventory
activ_ratios['Payables']=payable
activ_ratios['DSO']=(average_receivable/revenue)*365
activ_ratios['DIO']=(average_inventory/cogs)*365
activ_ratios['DPO']=(average_payable/cogs)*365
activ_ratios['CCC']= activ_ratios['DSO']+activ_ratios['DIO']-activ_ratios['DPO']
activ_ratios['Working Capital']=working_capital
activ_ratios['Working Capital Turnover']=revenue/average_working_capital
activ_ratios['Receivable Turnover']=revenue/average_receivable
activ_ratios['Iventory Turnover']=cogs/average_inventory
activ_ratios['Payable Turnover']=cogs/average_payable
activ_ratios['Equity Turnover']=revenue/average_equity
activ_ratios

,Fiscal Year,Receivables,Inventory,Payables,DSO,DIO,DPO,CCC,Working Capital,Working Capital Turnover,Receivable Turnover,Iventory Turnover,Payable Turnover,Equity Turnover
1,2024-12-31,2160.0,3468.0,5270.0,45.352662,84.632738,135.196808,-5.211408,1783.0,18.551412,8.048039,4.312752,2.699768,4.885583
2,2023-12-31,1920.0,2735.0,4639.0,42.887500,72.691747,126.397889,-10.818642,-13.0,128.455285,8.510638,5.021203,2.887706,5.129870
3,2022-12-31,1793.0,2453.0,4382.0,44.228149,70.412004,129.128563,-14.488409,259.0,54.058140,8.252663,5.183775,2.826640,5.194413
4,2021-12-31,1587.0,1960.0,3711.0,51.220446,70.203981,134.337907,-12.913480,257.0,29.918575,7.126061,5.199135,2.717029,5.085640
5,2020-12-31,1713.0,1741.0,3371.0,58.793770,84.674854,153.686750,-10.218125,529.0,20.168498,6.208141,4.310607,2.374961,4.360325

## Liquidity Ratios :

In [17]:
liqu_ratios=is_trsp[['Fiscal Year']].copy()
liqu_ratios['Current Ratio']=current_assets / current_liabilities
liqu_ratios['Quick Ratio']=(current_assets-inventory)/current_liabilities
liqu_ratios['Cash Ratio']=cash_equivalent/current_liabilities
liqu_ratios['Oprating Cash Flow Ratio']= operating_cash_flow/current_liabilities
liqu_ratios

,Fiscal Year,Current Ratio,Quick Ratio,Cash Ratio,Oprating Cash Flow Ratio
1,2024-12-31,1.292487,0.723589,0.340387,0.122193
2,2023-12-31,0.997873,0.550393,0.207134,0.147320
3,2022-12-31,1.051893,0.560409,0.153338,0.178081
4,2021-12-31,1.060800,0.597114,0.169953,0.290040
5,2020-12-31,1.131887,0.697831,0.199721,0.075934

## Solvency Ratios :

In [18]:
solv_ratios=is_trsp[['Fiscal Year']].copy()
solv_ratios['Debt to Equity(D/E)']=total_debt/total_equity
solv_ratios['Debt to Capital(D/C)']=total_debt/(total_debt+total_equity)
solv_ratios['Debt to Assets']=total_debt/total_assets
solv_ratios['Financial Leverage']=average_total_assets/average_equity
solv_ratios['Interest coverage']=ebit/interest_expenses
solv_ratios

,Fiscal Year,Debt to Equity(D/E),Debt to Capital(D/C),Debt to Assets,Financial Leverage,Interest coverage
1,2024-12-31,1.777778,0.640000,0.402900,4.287308,3.530135
2,2023-12-31,1.581677,0.612655,0.381013,4.085065,3.969815
3,2022-12-31,1.371769,0.578374,0.341867,4.097579,5.774057
4,2021-12-31,1.493004,0.598878,0.355442,4.204801,4.616894
5,2020-12-31,1.513674,0.602176,0.359571,4.206494,4.167926

## Profitability Ratios :

In [29]:
prof_ratios=is_trsp[['Fiscal Year']].copy()
prof_ratios['Gross Profit Margin']=gross_profit/revenue
prof_ratios['Operating Profit(EBIT) Margin']=ebit/revenue
prof_ratios['Pretax(EBT) Margin']=ebt/revenue
prof_ratios['Net Profit Margin']=net_income/revenue
prof_ratios['Return On Assets(ROA)']=return_on_assets_roa
prof_ratios['Return On Equity(ROE)']=return_on_equity_roe
prof_ratios['Return On Invested Capital(ROIC)']=return_on_invested_capital_roic
prof_ratios

,Fiscal Year,Gross Profit Margin,Operating Profit(EBIT) Margin,Pretax(EBT) Margin,Net Profit Margin,Return On Assets(ROA),Return On Equity(ROE),Return On Invested Capital(ROIC)
1,2024-12-31,0.185284,0.048946,0.049892,0.032994,0.0349,0.1664,0.0557
2,2023-12-31,0.175633,0.050276,0.047254,0.032131,0.0395,0.1701,0.0650
3,2022-12-31,0.179895,0.053907,0.069227,0.053657,0.0427,0.2840,0.0721
4,2021-12-31,0.181749,0.053645,0.049548,0.034635,0.0406,0.1805,0.0681
5,2020-12-31,0.175627,0.049090,0.040908,0.029994,0.0379,0.1604,0.0649

## Valuation Ratios :

In [ ]:
val_ratios=is_trsp[['Fiscal Year']].copy()
val_ratios['Earnings per Share(EPS)']=earning_per_share
val_ratios['Price Earnings ratios (P/E)']=pe_ratio
val_ratios['Price to Sales(P/S)']=ps_ratio
val_ratios['Price to Book(P/B)']=pb_ratio
val_ratios['EV/EBITDA']=ev_ebitda
val_ratios['EV/EBIT']=ev_ebit
val_ratios['Dividend Yield']=dividend_yield
val_ratios

,Fiscal Year,Earnings per Share(EPS),Price Earnings ratios (P/E),Price to Sales(P/S),Price to Book(P/B),EV/EBITDA,EV/EBIT,Dividend Yield
1,2024-12-31,187.18,22.44,0.74,3.47,0.39,19.87,NaN
2,2023-12-31,181.00,23.94,0.77,3.78,11.71,19.55,0.0235
3,2022-12-31,263.44,17.98,0.97,4.58,13.59,21.92,0.0194
4,2021-12-31,146.95,34.51,1.20,5.78,15.75,25.90,0.0153
5,2020-12-31,118.94,27.51,0.83,4.14,12.94,21.71,0.0204